html {
  box-sizing: border-box; 
  background-color: #f9faf8;
  font-family: 'Roboto', sans-serif;  
}
*,
*::before,
*::after {
  box-sizing: inherit;  
  margin: 0;
  padding: 0;
}

.full-bleed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-blue {
    background-color: #1f2937;
}

.constrain-width {
    width: 1280px;
}

header {    
    display: flex;
    flex-direction: column;  
    padding: 0 16px;  
}

nav {    
    display: flex;
    align-items: center;
    height: 45px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb; 
}

li a:hover {
    text-decoration: underline;
}

.hero {    
    display: flex;
    gap: 32px;
    padding: 75px 0;    
}

.hero-left {
    flex: 0 1 450px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

button {
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;  
    font-weight: 600;
    color: #f9faf8;
    background-color: #3882f6;
    cursor: pointer;
}

.hero-right {
    flex: 1 1 450px;
    position: relative;
}

.hero-right img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.information {    
    flex-direction: column;
    padding: 40px 0 82px 0;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.cards {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px 16px;
}

.card {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card p {
    color: #1f2937;
}

.card-image {    
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 8px;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 80px 0;
}

.quote {
    display: flex;
    flex-direction: column; 
    padding: 0 16px;
}

.quote p {
    max-width: 750px;
}

.quote p:not(.quotee) {    
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quotee {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 600;
    padding-top: 16px;
}

.call-action {
    max-width: 1000px;
    display: flex;
    gap: 120px;
    background-color: #3882f6;
    padding: 40px 120px;
    margin: 80px;
    border-radius: 10px;
}

.call-action h3, 
.call-action p {
    color: #f9faf8;
}

.call-action button {
    border: 2px solid #f9faf8;
    flex-shrink: 0;
    align-self: center;
}
